<IfModule mod_rewrite.c>
  RewriteEngine On

  # Chuyển tiếp header Authorization cho PHP
  RewriteCond %{HTTP:Authorization} .
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

  # Điều hướng tất cả request đến public
  RewriteRule ^$ public/ [L]
  RewriteRule (.*) public/$1 [L]
</IfModule>